@import "../../variables.scss";

.home {
  img.image-divider {
    width: 100%;
    object-fit: contain;
  }

  .container {
    margin: auto;
    max-width: 600px;
  }

  .products {
    padding: $side-margin;

    h2 {
      font-weight: 500;
    }
  }

  .what,
  .story {
    padding: $side-margin;

    h2 {
      font-weight: 500;
    }

    p {
      text-align: justify;
    }

    span {
      font-size: 32px;
    }
  }

  .what {
    text-align: center;

    h2 {
      font-size: 16px;
    }
  }

  .icon-divider {
    display: flex;
    margin: 64px auto;
  }
}
